.main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem 0rem;
}

.form {
  margin: 0 auto;
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--accent-color);
}

.form button {
  letter-spacing: 0.7rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  background: var(--accent-color);
  color: white;
  border: none;
  cursor: pointer;
}

.form .links {
  list-style-type: square;
  margin-bottom: 2rem;
}

.login {
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login button {
  letter-spacing: 0.7rem;
  width: 300px;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  background: var(--accent-color);
  color: white;
  border: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .decoLogo {
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 700px) {
  .form {
    width: 100%;
  }
}
