.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem 0rem;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:1rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  background: var(--white);
  box-shadow: 0px 0px 2px var(--black-half);
  border-radius: 15px;
}

.cards h2{
  color: var(--accent-color);
  text-transform: capitalize;
  overflow: hidden;
}


.author{
  text-transform: capitalize;
  border-top: 1px solid var(--black-half);
  padding-top: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

/* Mobile */
@media (max-width: 700px) {
  .cards {
    width: 19rem;
  }
}
