


.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0rem;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.cards {
  width: 100px;
  height: 100px;
  background: rgb(213, 14, 14);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

/* Mobile */
@media (max-width: 700px) {
}
