.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem 0rem;
  min-height: 100vh;
}

.news{
  width: 100%;
}

.news h1,
.news p {
  margin-bottom: 2rem;
}

.news button {
  letter-spacing: 0.7rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  background: var(--accent-color);
  color: white;
  border: none;
  cursor: pointer;
}

.source {
  margin-bottom: 2rem;



  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
  }

  ul > li {
    overflow: hidden;
  }

  ul > li > a {
    color: var(--accent-color);

    &:hover {
      color: var(--black);
    }
  }
}

@media (max-width: 700px) {
  .main {
    padding: 6rem 1rem;
  }
}
